* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: monospace;
    color:rgb(52, 90, 173); 
    background: rgb(179, 212, 240);
    /* this animates the background */
    animation-name: backdiv;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
}
@keyframes backdiv {
    50% {
        background: #8babd1;
    }
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 60px;
    margin-top: clamp(2px, 3rem, 10rem);
}
#heart {
    position: absolute;
    background-color: rgb(52, 90, 173);
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    /* this animates the heart */
    animation-name: beat;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
}
#heart::after {
    position: absolute;
    background-color: rgb(52, 90, 173);;
    content: "";
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
}
#heart::before {
    position: absolute;
    background-color: rgb(52, 90, 173);;
    content: "";
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
}
@keyframes beat {
    0% {
        transform: scale(1)rotate(-45deg);
    }
    50% {
        transform: scale(0.6)rotate(-45deg);
    }
}
h1 {
    margin: 5px;
    padding: 5px;
    /* using clamp so the font-size is responsive */
    font-size: clamp(1.5rem, 5vw, 5rem); 
} 
h2 {
    margin: 10px;
    font-size: clamp(1.25rem, 4vw, 4rem); 
}
figure {
    font-size: clamp(1.25rem, 4vw, 4rem);
}
#update {
    /* this slows down the background animation on the update */
    animation-name: backdiv;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#sleeping-baby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    /* tried clamp with height and width but it didn't work because the different orientations allowed for different min and max for each (stretched pic) */
    height: 50%;
    width: 50%;
    border: 30px dotted #8babd1;
    border-radius: 40%;
}
a {
    font-size: clamp(1.5rem, 5vw, 5rem);
    color:rgb(52, 90, 173);
}
/* cut out all media queries but this one by using clamp on this simple page */
/* To reduce animation for accessibility */
@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}